<p>book-list works!</p>
<button [routerLink]="['create']">Create</button>
<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Page</th>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookList">
      <td>{{ book.name }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.page }}</td>
      <td>
        <button [routerLink]="['edit', book.id]" data-testid="edit-book">
          Edit
        </button>
        <button [routerLink]="['detail', book.id]" data-testid="show-book">
          Show
        </button>
      </td>
    </tr>
  </tbody>
</table>
