<table>
  <thead>
    <th>Name</th>
    <th>
      <button data-testid="edit-author" (click)="showModal()">
        Create
      </button>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let author of authorList">
      <td>{{ author.name }}</td>
      <td>
        <button data-testid="edit-author" (click)="showModal(author)">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- dialog zone -->
<!-- <div class="modal" [ngStyle]="{ display: isShowModal ? 'block' : 'none' }">
  Modal content
  <div class="modal-content">
    <span class="close" (click)="hideModal()">&times;</span>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
      <app-author-form [authorForm]="authorForm"></app-author-form>
      <ng-container *ngIf="!selectedAuthor">
        <button type="submit" data-testid="create-author">Create</button>
      </ng-container>
      <ng-container *ngIf="selectedAuthor">
        <button type="submit" data-testid="edit-author">Update</button>
        <a (click)="deleteAuthor()" data-testid="delete-author">Delete</a>
      </ng-container>
    </form>
  </div>
</div> -->

<p-dialog header="Author Form" [(visible)]="isShowModal">
  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <app-author-form [authorForm]="authorForm"></app-author-form>
    <ng-container *ngIf="!selectedAuthor">
      <button type="submit" data-testid="create-author">Create</button>
    </ng-container>
    <ng-container *ngIf="selectedAuthor">
      <button type="submit" data-testid="edit-author">Update</button>
      <a (click)="deleteAuthor()" data-testid="delete-author">Delete</a>
    </ng-container>
  </form>
</p-dialog>