<!--The content below is only a placeholder and can be replaced.-->
<a [routerLink]="['/book']"> Book List </a>/
<a [routerLink]="['/author']"> Author Crud </a>/
<div class="bg-primary  flex justify-content-center mb-5">
    <span>
        Content 1
    </span>

    <span>
        Content 2
    </span>

    <span>
        Content 3
    </span>
</div>

<div class="grid">
    <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-2 bg-primary">
        Content 1
    </div>

    <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-2 bg-yellow-300">
        Content 2
    </div>

    <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-2 bg-cyan-900">
        Content 3
    </div>
</div>
<!--<a [routerLink]="['/book/create']"> Create </a>/
<a [routerLink]="['/book/edit', '1']"> Edit </a>/
<a [routerLink]="['/book/detail', '1']"> Detail </a>-->
<router-outlet></router-outlet>